/*Variables*/
:root{
    --fuente: "Funnel Display", sans-serif;
    --corazon-purpura: #8E2DE2;
    --indigo-electrico: #4A00E0;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #cdcdcd;
    --gris-calido: #403d39;
    --azul-casi-casi-oscuro: #1a273d;
    --azul-casi-oscuro: #141e30;
    --rosado: #C70039;
    --rojo: #ff0000;
    --naranjo: #ff7800;
    --verde-claro: #00ff97;
    --verde-oscuro: #007f4b;
    --celeste: #00b9ff;
}



/*Todo Los Elementos*/
*{
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

html{
    font-size: 62.5%;
}

/*Body*/
body{
    font-size: 16px;
    background: linear-gradient(to right, var(--corazon-purpura), var(--indigo-electrico));
    height: 100vh;
    position: relative;
    overflow: hidden;
}



/*Head*/
.header-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--negro);
    height: 10vh;
    width: 90%;
    margin: auto;
    padding-top: .5rem;
}

.logo{
    height: 9rem;
    width: 9rem;
}

.nav-main{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.nav-main a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--blanco);
}

.nav-main a:hover{
    transform: scale(1.3);
}


/*Main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75vh;
}

main h1{
    color: var(--blanco);
    font-size: 4rem;
}

form{
    margin-top: 4rem;
    width: 60vw;
    height: 70vh;
    border-radius: .5rem;
    padding: 0 2rem;
    position: relative;
    box-shadow: 0 0 1rem var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form h2{
    position: absolute;
    top: 1rem;
    color: var(--blanco);
    font-size: 3.1rem;
}

.form-left{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-left div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-right{
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-dir{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.cont-dir div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comentario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comentario textarea:focus{
    outline: none;
}

.terminos{
    display: flex;
    justify-content: center;
}

.terminos input{
    width: 6%;
    cursor: pointer;
}

.terminos a{
    color: var(--blanco);
}

.terminos a:hover{
    color: var(--gris);
}

form div label{
    font-size: 1.9rem;
    color: var(--negro);
    font-weight: bold;
    color: var(--blanco);
}

form div input{
    padding: .7rem 1rem;
    border-radius: .5rem;
    border: none;
    width: 13vw;
    background: var(--azul-casi-oscuro);
    color: var(--blanco);
    font-weight: bold;
}

form div input:focus{
    outline: none;
}

.correo input:focus{
    outline: none;
}

form button{
    cursor: pointer;
    padding: 1rem 5rem;
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    border-radius: 1rem;
    position: absolute;
    bottom: 1rem;
    right: auto;
    background: var(--azul-casi-oscuro);
    color: var(--blanco);
    filter: drop-shadow(0 0 1rem var(--negro));
    overflow: hidden;
}

form button:hover{
    background: var(--azul-casi-casi-oscuro);
}


form button span{
    position: absolute;
    width: 30%;
    background: linear-gradient(to left, var(--corazon-purpura), var(--indigo-electrico));
    bottom: 0;
    right: 0;
}

form button:hover span{
    height: .3rem;
    right: 100%;
    transition: 2s;
}


.sponsors{
    position: absolute;
    bottom: 5rem;
    white-space: nowrap;
}

.slider{
    display: inline-block;
    animation: slider 5s infinite linear;
}

.slider img{
    height: 5rem;
    width: 30rem;
}

@keyframes slider{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


/*Copyright*/
.copyright{
    bottom: 0;
    width: 100%;
    text-align: center;
    background: var(--azul-casi-oscuro);
    position: absolute;
    bottom: 0;
}

.copyright small{
    color: var(--blanco);
}


/*Quitar Selector del input Number*/
.cont-dir input::-webkit-outer-spin-button,
.cont-dir input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


